@charset "UTF-8";

body {
	background-image: url("../resources/images/background-image.jpg");
	background-size: cover;
}

.flex-container {
	display: flex;
	flex-direction: row;
	max-width: 1024px;
	margin: auto;
	width: 100%;
	min-width: 320px;
	font-family: Arial;
}

.panel-cep {
	margin-left: 250px;
    margin-top: 10px;
}

.msg {
	width: 200%;
}

.center {
	text-align: center;
}

body .ui-messages .ui-messages-error, body .ui-messages .ui-messages-fatal .ui-messages-close
	{
	background: #ff261b;
	border: 1px solid transparent;
	border-width: 0 0 0 6px;
	color: #212121;
}

body .ui-messages .ui-messages-error .ui-messages-close, body .ui-messages .ui-messages-fatal .ui-messages-close
	{
	background: #ff261b;
	color: #212121;
}

body .ui-messages .ui-messages-error .ui-messages-close:hover, body .ui-messages .ui-messages-fatal .ui-messages-close:hover
	{
	background: #ff6961;
}

.ui-panelgrid {
	border-collapse: collapse;
	width: 200%;
}

.ui-fluid .ui-selectonemenu {
	max-width: 50%;
}

.ui-fluid .ui-button {
	max-width: 20%;
}

body .ui-button.ui-button-outlined {
    background-color: transparent;
    color: #007ad9;
    border: 1px solid;
    margin-right: 5px;
}

/* Mobile */
@media ( max-width : 992px) {
	
	.flex-container {
		display: flex;
		flex-direction: column;
		margin: auto;
		padding-top: 5px;
		font-family: Arial;
		width: 100%;
	}
	
	.ui-panelgrid {
		border-collapse: collapse;
		width: 100%;
	}
	
	.msg {
		width: 100%;
	}
	
	.ui-fluid .ui-button {
		max-width: 30%;
	}
	
	.ui-fluid .ui-selectonemenu {
		max-width: 80%;
	}
	
	.center {
		text-align: center;
	}
	
	.alignLeft {
		text-align: left;
	}
	
	.ui-datatable-reflow .ui-datatable-data td[role="gridcell"] .ui-column-title {
	    padding: 0.4em;
	    min-width: 30%;
	    display: block;
	    margin: -0.4em 1em -0.4em -0.4em;
	    float: left;
	    text-align: left;
	    font-weight: bold;
	}
}